/*
0-600px:       Phone
600-900px:     Tablet portrait
900-1200px:    Tablet landscape
[1200-1800] is where our normal styles apply
1800px + :      Big desktop


$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop


ORDER: Base + typography > general layout (header, footer, navigation) + grid > page layout >components

1em=16px */

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
@font-face {
  font-family: "Codec Pro Fat";
  src: url("../fonts/CodecPro/CodecPro-FatItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Codec Pro";
  src: url("../fonts/CodecPro/CodecPro-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Codec Pro Fat";
  src: url("../fonts/CodecPro/CodecPro-fat.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Codec Pro";
  src: url("../fonts/CodecPro/CodecPro-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Codec Pro";
  src: url("../fonts/CodecPro/CodecPro-BoldItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Codec Pro News";
  src: url("../fonts/CodecPro/CodecPro-News.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Codec Pro";
  src: url("../fonts/CodecPro/CodecPro-Heavy.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Codec Pro";
  src: url("../fonts/CodecPro/CodecPro-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Codec Pro Ultra";
  src: url("../fonts/CodecPro/CodecPro-UltraItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Codec Pro";
  src: url("../fonts/CodecPro/CodecPro-HeavyItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Codec Pro";
  src: url("../fonts/CodecPro/CodecPro-Bold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Codec Pro News";
  src: url("../fonts/CodecPro/CodecPro-NewsItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Codec Pro";
  src: url("../fonts/CodecPro/CodecPro-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Codec Pro";
  src: url("../fonts/CodecPro/CodecPro-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Codec Pro Ultra";
  src: url("../fonts/CodecPro/CodecPro-Ultra.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Codec Pro UltraBlack";
  src: url("../fonts/CodecPro/CodecPro-UltraBlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Codec Pro UltraBlack";
  src: url("../fonts/CodecPro/CodecPro-UltraBlack.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Codec Pro";
  src: url("../fonts/CodecPro/CodecPro-ExtraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Codec Pro";
  src: url("../fonts/CodecPro/CodecPro-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}
html {
  font-size: 62.5%;
 /* font-family: "Codec Pro";
  */
}
@media (max-width: 1200px) {
  html {
    font-size: 50%;
 }
}
body {
  box-sizing: border-box;
}
body {
 /* font-weight: 500;
  */
  line-height: 1.7;
  color: #777;
  font-family: Codec Pro, Codec Pro Fat, Codec Pro News, Codec Pro Ultra, Codec Pro UltraBlack;
}
.container {
  padding: 0;
  max-width: 140rem;
  margin: 0 auto;
 /* @media (max-width: 800px) {
    width: 100%;
    margin: 0 auto;
 }
  */
}
.grid-1-col {
  display: grid;
  grid-template-columns: 1fr;
}
.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 800px) {
  .grid-2-col {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    margin: 0 auto;
 }
}
.grid-3-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
@media (max-width: 800px) {
  .grid-3-col {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    width: 80%;
    margin: 0 auto;
 }
}
.btn {
  display: inline-block;
  font-weight: 500;
  font-size: 1.6rem;
  color: #e87854;
  padding: 2.4rem 6rem;
  border: none;
  border-radius: 8rem;
}
.header-1 {
  font-size: 8rem;
  font-weight: 700;
  color: #e87854;
}
/* section welcome-prva sekcija */
.section-welcome {
  background-image: url(../img/background.jpg);
  background-size: cover;
}
.section-welcome .container {
  align-items: center;
  justify-items: center;
  height: 750px;
  display: grid;
  grid-template-columns: 39% 1fr;
}
@media (max-width: 800px) {
  .section-welcome .container {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    padding: 0 3rem;
 }
}
.section-welcome-left {
  background-color: #ffdab9;
  height: 100%;
  width: 100%;
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  padding-right: 4rem;
}

@media (max-width: 800px) {
  .section-welcome-left {
    background-color: transparent;
    padding-right: 0;
  }
}

@media (max-width: 1200px) {
  .section-welcome-left {
    font-size: 30%;
    height: 100%;
 }
  .section-welcome-h {
    font-size: 8rem;
 }
}
.section-welcome-left::before {
  width: 50vw;
  content: "";
  position: absolute;
  height: 100%;
  right: 100%;
  background-color: #ffdab9;
}
@media (max-width: 800px) {
  .section-welcome-left::before {
    background-color: transparent;
  }
}
.section-welcome-h {
  font-size: 9rem;
  font-weight: 800;
}
@media (max-width: 800px) {
  .section-welcome-h {
    font-size: 8rem;
 }
}
.section-welcome-p {
  padding-bottom: 8rem;
  font-size: 4.5rem;
  font-weight: 400;
  font-style: normal;
  color: black;
  line-height: 5rem;
}
@media (max-width: 800px) {
  .section-welcome-p {
    font-size: 4rem;
 }
}
.section-welcome-btn {
  position: relative;
  font-size: 2rem;
}
.section-welcome-right {
  width: 100%;
  height: 100%;
  position: relative;
 /* justify-content: center;
  align-items: center;
  */
}
@media (max-width: 800px) {
  .section-welcome-right {
    height: 400px;
 }
}
@media (max-width: 800px) {
  .section-welcome-left-content {
    text-align: center;
    padding-bottom: 50px;
 }
}
.section-welcome-navigation {
  font-size: 1.6rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  padding-top: 4rem;
  padding-left: 3rem;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
}

@media (max-width: 800px) {
  .section-welcome-navigation {
    visibility: hidden;
 }
}
.section-welcome-logo {
  width: 75%;
  margin: 0 auto;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 800px) {
  .section-welcome-logo {
    position: relative;
    width: 70%;
    margin-bottom: -5rem;
 }
}
/* section offer - druga sekcija */
.section-offer {
  background-color: #e87854;
  padding-top: 5rem;
  padding-bottom: 15%;
}
.section-offer-text {
  z-index: 200;
  position: relative;
}
.section-offer-h {
  color: white;
  font-size: 7rem;
  width: 75%;
  line-height: 7.5rem;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3rem;
  font-weight: 800;
  font-style: normal;
}
@media (max-width: 800px) {
  .section-offer-h {
    font-size: 3rem;
    line-height: 4rem;
    margin-bottom: 1.5rem;
 }
}
.section-offer-h-blue {
  color: #1e4d60;
}
.section-offer-p {
  font-weight: 300;
  color: white;
  font-size: 2rem;
  width: 75%;
  text-align: center;
  z-index: 200;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .section-offer-p {
 }
}
.section-offer-imgs {
  position: relative;
  height: 100%;
  margin-top: 60px;
}
.section-offer-imgs-exterior {
  width: 100%;
  z-index: 10;
  height: 360px;
  object-fit: cover;
}

@media (max-width: 800px) {
  .section-offer-imgs-exterior {
    height: 200px;
  }
}

.section-offer-imgs-star-1 {
  z-index: 200;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, -50%);
  width: 20%;
}
.section-offer-imgs-star-2 {
  z-index: 200;
  position: absolute;
  margin: 0 auto;
  bottom: 0;
  right: 0;
  transform: translate(0, 50%);
  width: 30%;
}



.section-offer-imgs::before {
  position: absolute;
  content: "";
  width: 200px;
  height: 100%;
  background: url("../img/scatter.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  top: 0;
  left: 0;

}


.section-offer-imgs::after {
  position: absolute;
  content: "";
  width: 200px;
  height: 100%;
  background: url("../img/scatter.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  transform: rotateZ(180deg);

}

@media (max-width: 1100px) {
  .section-offer-imgs::before,
  .section-offer-imgs::after {
    display: none;
  }
}


/* section atractions */
.section-attractions-header {
  font-size: 7rem;
  color: #1e4d60;
  font-weight: 800;
  font-style: normal;
}
@media (max-width: 800px) {
  .section-attractions-header {
    font-size: 4rem;
    text-align: center;
 }
}
.section-attractions {
  margin-bottom: 10rem;
  padding: 0 3rem;
}
.section-attractions-img {
  width: 100%;
  height: 25rem;
  margin: 0 auto;
  border-radius: 30px;
  margin-bottom: 2rem;
}
.section-attractions-btn {
  color: #f8df8f;
  width: 100%;
  text-transform: uppercase;
  font-size: 1.6rem;
  border: none;
  padding: 5rem 4rem;
  margin: 0 auto;
  border-radius: 30px;
}
@media (max-width: 800px) {
  .section-attractions-btn {
    padding: 2rem 10rem;
 }
}
.section-attractions-btn-1 {
  background-color: #efb360;
}
.section-attractions-btn-2 {
  background-color: #e87854;
}
.section-attractions-btn-3 {
  background-color: #7aa782;
}
.section-attractions-p {
  margin-top: 3rem;
  font-size: 2.5rem;
  font-weight: 300;
  color: black;
  text-align: center;
}
.section-attractions-bottom {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
/* section promise */
/* section promise */
.section-promise {
  background-image: url(../img/background.jpg);
  background-size: cover;
 /* height: 80vh;
  */
}
@media (max-width: 800px) {
  .section-promise {
    background-image: none;
    margin-top: -10rem;
 }
}
.section-promise-left {
  position: relative;
}
.section-promise-img {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  clip-path: polygon(17% 0, 83% 0%, 83% 100%, 17% 100%);
}
@media (max-width: 800px) {
  .section-promise-img {
    margin: 0;
    padding: 0;
    width: 100%;
 }
}
/* .section-promise-star {
  position: absolute;
  top: 50%;
  left: 0;
}
*/
.section-promise-star {
  position: absolute;
  left: 0;
  bottom: 25%;
  transform: translate(-50%, 0);
  width: 60%;
}
@media (max-width: 800px) {
  .section-promise-star {
    width: 50%;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
 }
}
.section-promise-right {
  display: flex;
  flex-direction: column;
  background-color: #264653;
  height: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
}
.section-promise-header {
  text-align: center;
  color: white;
  font-size: 9rem;
  margin: 0 auto;
  line-height: 8rem;
  margin-bottom: 3rem;
  font-weight: 800;
  font-style: normal;
}
@media (max-width: 800px) {
  .section-promise-header {
    font-size: 5rem;
    line-height: 4rem;
    margin-top: 10rem;
 }
}
.section-promise-list {
  color: white;
  list-style: none;
  line-height: 4rem;
}
.section-promise-item {
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
}
@media (max-width: 800px) {
  .section-promise-item {
    font-size: 2rem;
 }
}
/* section rooms */
/* .section-rooms {
  display: grid;
  grid-template-columns: 1fr 40%;
  @media (max-width: 800px) {
    grid-template-columns: 1fr;
 }
}
.section-rooms-left {
  background-color: #2a9d8f;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 50%;
}
.section-rooms-rooms {
  padding: 8rem 5rem;
  justify-content: end;
}
.section-rooms-img {
  border-radius: 50px;
  margin-left: -5rem;
}
.section-rooms-star {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(50%, -35%);
  z-index: 1000;
}
.section-rooms-header {
  font-size: 7rem;
  font-weight: 500;
  color: white;
}
.section-rooms-left-container {
  display: flex;
}
.section-rooms-img {
  width: 100%;
  height: 70%;
  z-index: 1000;
  align-items: end;
}
.section-rooms-arrow {
  width: 30%;
  z-index: 2000;
}
.section-rooms-right {
  position: relative;
  background-color: #e87854;
  color: #af8366;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url(../img/background-stripes.svg);
  background-size: cover;
  mix-blend-mode: multiply;
}
.section-rooms-right-container {
  padding-left: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-rooms-description-container {
}
.section-rooms-small-header {
  display: block;
  color: white;
  font-size: 4rem;
  line-height: 3rem;
  font-weight: 400;
}
.section-rooms-list {
  font-size: 2rem;
  color: white;
  font-weight: 300;
  line-height: 3rem;
  margin-left: 3rem;
}
.section-rooms-arrow-2 {
  transform: scaleX(-1);
  margin-left: -10rem;
}
.section-rooms-item {
}
*/
.section-rooms {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: repeat(2, 1fr);
  position: relative;
}
@media (max-width: 800px) {
  .section-rooms {
    grid-template-columns: 1fr;
    background-color: #2a9d8f;
 }
}
.section-rooms-star {
  position: absolute;
  top: 54%;
  left: 60%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 24%;
}
@media (max-width: 800px) {
  .section-rooms-star {
    top: 50%;
    transform: translate(-50%, -60%);
    width: 50%;
 }
}
.section-rooms-1 {
  background-color: #2a9d8f;
}
.section-rooms-2 {
  background-color: #e87a56;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 800px) {
  .section-rooms-2 {
    background-color: #2a9d8f;
   /* align-items: start;
    */
   /* margin-top: 5rem;
    */
 }
}
.section-rooms-3 {
  background-color: #2a9d8f;
  padding-top: 10rem;
}
.section-rooms-4 {
  background-color: #e87a56;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 800px) {
  .section-rooms-4 {
    background-color: #2a9d8f;
    padding-top: 5rem;
    padding-bottom: 5rem;
 }
}
.grid-item {
  position: relative;
}
.grid-item:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 200%;
  background-image: url("../img/background-stripes.svg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.25;
  transform: translate(-100%, 0);
  z-index: 10;
}
.section-rooms-arrow {
  width: 30%;
  z-index: 100;
}
.section-rooms-arrow-1 {
  z-index: 200;
  width: 20%;
  margin-right: -5rem;
}
.section-rooms-img {
  z-index: 100;
  border-radius: 50px;
  margin-right: -5rem;
  width: 80%;
  align-items: end;
}
@media (max-width: 800px) {
  .section-rooms-img {
    margin: 0 auto;
 }
}
.section-rooms-img-arrow {
  display: flex;
  z-index: 100;
  align-items: center;
  justify-content: end;
}
.section-rooms-header {
  margin-left: 5rem;
  font-size: 7rem;
  font-weight: 800;
  font-style: normal;
  color: white;
  z-index: 100;
}
.section-rooms-description-container {
  z-index: 100;
}
.section-rooms-small-header {
  display: block;
  color: white;
  font-size: 4rem;
  line-height: 3rem;
  font-weight: 400;
}
.section-rooms-list {
  font-size: 2rem;
  color: white;
  font-weight: 300;
  line-height: 3rem;
  margin-left: 3rem;
  z-index: 100;
}
.section-rooms-arrow-2 {
  transform: scaleX(-1);
  margin-left: -10rem;
}
/* section local fun */
.section-local-fun-header {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
  font-weight: 800;
  font-style: normal;
}
.section-local-fun-star {
  height: 20rem;
}
.section-local-fun-star-2 {
  transform: scaleX(-1);
}
.section-local-fun-h {
  color: #efb360;
  font-size: 9rem;
  margin-top: auto;
  margin-bottom: -3rem;
  font-weight: 800;
  font-style: normal;
}
@media (max-width: 800px) {
  .section-local-fun-h {
    font-size: 6rem;
    margin-bottom: 0;
    text-align: center;
 }
}
.section-local-fun-h6 {
  color: black;
  font-weight: 400;
  text-align: center;
  font-size: 3rem;
  margin-top: 3rem;
}
.section-local-fun-p {
  text-align: center;
  margin: 0 auto;
  font-size: 2rem;
  color: black;
  font-weight: 300;
  width: 75%;
}
/* section book poslednja sekcija */
.section-book {
 /* height: 100vh;
  */
  height: 100%;
  background-color: #264653;
  padding-bottom: 10rem;
}
@media (max-width: 800px) {
  .section-book {
    padding-bottom: 0;
    height: 100%;
 }
}
.section-book-container {
  padding-top: 10rem;
  padding-left: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 900px) {
  .section-book-container {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    margin: 0 auto;
    gap: 5rem;
 }
}
@media (max-width: 800px) {
  .section-book-container {
    padding: 2rem;
    margin: 0 auto;
    height: 100%;
 }
}
.section-book-left {
  position: relative;
  width: 100%;
}
@media (max-width: 800px) {
  .section-book-left {
    height: 100%;
 }
}
.section-book-header {
  z-index: 10;
  font-size: 7rem;
  color: white;
  font-weight: 800;
  font-style: normal;
  line-height: 7rem;
}
.section-book-form {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-content: start;
  align-items: center;
  gap: 3rem;
  padding-top: 5rem;
  width: 80%;
}
.section-book-form-input {
  padding: 4rem 12rem 4rem 6rem;
  color: #e87a56;
  width: 150%;
  font-size: large;
  font-style: inherit;
}
@media (max-width: 1200px) {
  .section-book-form-input {
    padding: 2rem 3rem 2rem 3rem;
    width: 125%;
 }
}
.section-book-form-input::placeholder {
  color: #e87854;
}
.section-book-form-input-3::after {
  content: url(../img/social-facebook.svg);
 /* content: url(../img/social-twitter.svg);
  content: url(../img/social-instagram.svg);
  */
  position: absolute;
}
.section-book-star {
  z-index: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  width: 35%;
}
@media (max-width: 1200px) {
  .section-book-star {
    transform: translate(0, 0);
 }
}
.section-book-right {
 /* display: grid;
  grid-template-rows: repeat(2, 1fr);
  */
  position: relative;
  padding: 0;
}
@media (max-width: 800px) {
  .section-book-right {
    height: 100%;
 }
}
.section-book-right-container {
 /* position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  */
}
.section-book-logo {
  width: 90%;
}
@media (max-width: 1200px) {
  .section-book-logo {
    margin-top: -5rem;
 }
}
@media (max-width: 800px) {
  .section-book-logo {
    margin-top: 0;
    margin-bottom: 0;
 }
}
.section-book-p {
  color: #eccdb0;
  font-size: 2rem;
  font-weight: 400;
  padding-left: 15%;
}
@media (max-width: 800px) {
  .section-book-p {
    padding-left: 0;
    padding: 0 auto;
    text-align: center;
 }
}
